<div class="row h-100">
    <div class="col-2 text-center border-right my-auto">
        <i class="far fa-user-circle user"></i><br />
        <i class="fas fa-star star-color"></i>
        <i class="fas fa-star star-color"></i>
        <i class="fas fa-star star-color"></i>
        <i class="fas fa-star star-color"></i>
        <i class="far fa-star"></i> <br />

        <p>
            Jocko Willink
        </p>
    </div>
    <div class="col-10 my-auto">
        <div class="row">
            <div class="col-10 mx-auto text-justify rev-text">
                <span *ngIf="!smallWindow()">
                        I was expecting more negativity much like some of Peterson's videos online but glad to see how many others this book has helped and the much deserved praise it is getting! I suppose it makes sense, as those who actually read what he has to say rather than post their opinions based on click bait videos will see his message a lot more clearly.

                        As most of the reviews have stated, this is a must read in our crazy modern times! I also recommend watching his Q&A at Oxford Union as well as the recent Joe Rogan podcasts. Enjoy!
                </span>

                <span *ngIf="smallWindow()">
                        I was expecting more negativity much like some of Peterson's videos online but glad to see how many others this book has helped and the much deserved praise it is getting! ...
                </span>
            </div>
        </div>
    </div>
</div>