<div class="mainContent">
  <div class="row h-5 border-bottom">
    <div class="col">
        <app-info-header></app-info-header>
    </div>
  </div>
  <div class="row h-50 pt-2 border-bottom pb-2">
    <div class="col-2 border-right">
      NAV
    </div>
    <div class="col-10">
      BUY
    </div>
  </div>
  <div class="row border-bottom h-25">
    <div class="col">
      DESC
    </div>
  </div>
  <div class="row border-bottom h-20">
      <div class="col">
        Rev
      </div>
    </div>
</div>