<div class="mainContent">
  <div class="row border-bottom">
    <div class="col">
        <app-info-header></app-info-header>
    </div>
  </div>
  <div class="row pt-2 border-bottom pb-2">
    <div class="col-2 border-right">
      <app-nav></app-nav>
    </div>
    <div class="col-10" style="margin-top: 5%;">
      <app-book-details></app-book-details>
    </div>
  </div>
  <div class="row border-bottom desciption" style="background: #F6F6F6;">
    <div class="col">
      <app-book-description></app-book-description>
    </div>
  </div>
  <div class="row border-bottom review">
      <div class="col">
        <app-book-review></app-book-review>
      </div>
    </div>
</div>