img {
    box-shadow: 1px 1px 1px #777;
} 

.title {
    font-family: "Audiowide";
    font-size: 40px;
}

.subTitle {
    font-family: "Audiowide";
    font-size: 20px;
}

.subSubTitle {
    font-family: "Audiowide";
    font-size: 15px;
}

.marginBottom {
    margin-bottom: 10%;
}

.buttons {
    font-family: "Roboto";
    height: auto;
    background: transparent;
    color: black;
    border: 1px solid black;
    cursor: pointer;
}

.buttons:hover {
    background: #1DA1F2;
    color:white;
    border: 1px solid white;
}

button:disabled {
    cursor: not-allowed;
}

@media (max-width: 987px) {
    .title {
        font-size: 20px;
    }

    .subTitle {
        font-size: 15px;
    }

    .subSubTitle {
        font-size: 10px;
    }
}
