#mainContent {
    color:white;
}

#title {
    font-family: "Audiowide";
    font-size: 35px;
    text-align: center;
}

#searchField {
    text-align: center;
}

#searchInput {
    border: solid 1px white;
    width: 100%;
    border-radius: 50px;
    background: transparent;
    color:white;
    padding-left: 10px;
    font-family: "Script MT";
    text-align: center;
}

#searchInput:focus {
    outline: 0;
}

#searchButtons {
    margin: auto;
    text-align: center;
    margin-top: 2.5%;
    font-family: "Roboto";
}

.buttons {
    width: 100%;
    color:white;
    border: solid 1px white;
    background: transparent;
    font-size: 20px;
}

.buttons:hover {
    background: white;
    color: #201A23;
}

@media (max-width: 978px) {
    #secondButtonMarginForMobile {
        margin-top:5px;
    }

    .title {
        width: 100%;
    }
}