<div id="mainContent">
  <div class="row title">
    <div class="col-xl-6 col-sm-12 mx-auto" id="title">
      <p>Select your favorite book!</p>
    </div>
  </div>

  <div class="row">
    <div class="col-xl-6 col-sm-12 mx-auto" id="searchField">
      <input id="searchInput" (keydown.enter)="queryBook()" type="text" [(ngModel)]="userInput" spellcheck="false" placeholder="12 rules for life"/>
    </div>
  </div>

  <div class="row" id="searchButtons">
    <div class="offset-xl-4 col-xl-2 col-sm-12">
        <button type="button" (click)="queryBook()" class="btn btn-primary buttons">search <i class="fas fa-search"></i></button>
    </div>
    <div class=" col-xl-2 col-sm-12" id="secondButtonMarginForMobile">
        <button type="button" (click)="queryRandom()" class="btn btn-primary buttons">random <i class="fas fa-random"></i></button>
    </div>
  </div>
</div>