<div id="mainContent">
  <div class="row">
    <div class="col" id="title">
      <p>Select your favorite book!</p>
    </div>
  </div>

  <div class="row">
    <div class="col" id="searchField">
      <input id="searchInput" type="text" spellcheck="false" placeholder="12 rules for life"/>
    </div>
  </div>

  <div class="row" id="searchButtons">
    <div class="col">
        <button type="button" class="btn btn-primary buttons">search <i class="fas fa-search"></i></button>
    </div>
    <div class="col">
        <button type="button" class="btn btn-primary buttons">random <i class="fas fa-random"></i></button>
    </div>
  </div>
</div>