<div class="row mx-auto h-100">
  <div class="col text-center my-auto">
    <p>
      <span>
          <i class="fas fa-info"></i>
      </span>
      <span class="itemText">
        Info
      </span>
    </p>

    <p>
      <span>
          <i class="far fa-file-alt"></i>
      </span>
      <span class="itemText">
        Description
      </span>
    </p>

      
    <p>
      <span>
          <i class="far fa-comments"></i>
      </span>
      <span class="itemText">
        Reviews
      </span>
    </p>

  </div>
</div>