<div class="row mx-auto">
  <div class="col text-center pt-3" style="padding: 0">
    <p class="itemWrapper">
      <span>
          <i class="fas fa-info"></i>
      </span>
      <span class="itemText">
        Info
      </span>
    </p>

    <p class="itemWrapper">
      <span>
          <i class="far fa-file-alt"></i>
      </span>
      <span class="itemText">
        Description
      </span>
    </p>

      
    <p class="itemWrapper">
      <span>
          <i class="far fa-comments"></i>
      </span>
      <span class="itemText">
        Reviews
      </span>
    </p>

  </div>
</div>