<div class="row h-25">
    <div class="col-12 col-xl-3 mx-auto pt-3 text-center">
        <span class="descriptionTitle">Description</span>
    </div>
</div>
<div class="row h-75 pb-3">
    <div class="col-12 col-xl-10 test mx-auto" style="text-align: justify;">
        <div *ngIf="!smallWindow()" class="descriptionText">
            {{selectedBook.description}}
        </div>
        <div *ngIf="smallWindow()" class="descriptionText">
            {{smallDescription}}
        </div>

        <div *ngIf="test()">
            test
        </div>
    </div>
</div>