.descriptionTitle {
    font-family: "Audiowide";
    font-size: 25px;
}

.descriptionText {
    font-family: "Roboto";
}

.test {
    padding-left: 30px;
    padding-right: 30px;
}

@media (max-width: 987px) {
    .test {
        padding-left: 30px;
        padding-right: 30px;
    }
}